.profile {
  padding-top: 16px;
  border-radius: 5px;
  background-color: white;
  width: 250px;
  box-shadow: 3px 3px 6px 0 #b0b8c1;
}
.name {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.12;
  margin: 10px 0;
}
.tag {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  line-height: 1.12;
  color: #b0b8c1;
  margin-bottom: 10px;
}
.location {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  line-height: 1.12;
  color: #b0b8c1;
  margin-bottom: 10px;
}
.avatar {
  border-radius: 50%;
  width: 150px;
  margin: 0 auto;
  background-color: #e7ecf2;
}
.stats {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #f3f6f9;
  border-top: 1px solid #ddd;
  width: 100%;
}
.stats li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-right: 1px solid #ddd;
}
.stats li:last-child {
  border-right: none;
}
.label {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 13px;
  line-height: 1.12;
  color: #b0b8c1;
  margin-bottom: 5px;
}
.quantity {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.12;
}
